@model IEnumerable<UI.WebMvc.Models.ComisionesModel>

@{
    ViewBag.Title = "Index";
    
}

<p>
    @Html.ActionLink("Nueva Comision", "Nuevo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnioEspecialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDPlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionPlan)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDPlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionPlan)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.ID })
            </td>
        </tr>
    }

</table>
