@model UI.WebMvc.Models.Especialidad

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container py-3">
        <div class="row">
            <div class="mx-auto col-sm-8">
                <!-- form user info -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Editar Especialidad</h4>
                    </div>
                    <div class="card-body">
                        @TextoHelper.TextoConLabel(nameof(Model.Descripcion), "Descripcion", "text",Model.Descripcion)
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        @BtnAceptarCancelarHelper.BotonesAceptarCancelar()
                    </div>
                </div>
                <!-- /form user info -->
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a especialidades", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
