@model UI.WebMvc.Models.Plan

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container py-3">
    <div class="row">
        <div class="mx-auto col-sm-8">
            <!-- form user info -->
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Editar Plan</h4>
                </div>
                <div class="card-body">
                    @TextoHelper.TextoConLabel(nameof(Model.Descripcion), "Descripcion", "text",Model.Descripcion)
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    @ListaHelper.ListaElementos(Model.Especialidades, "IDEspecialidad","Descripción")
                    @BtnAceptarCancelarHelper.BotonesAceptarCancelar()
                </div>
            </div>
            <!-- /form user info -->
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
