@model UI.WebMvc.Models.Plan

@{
    ViewBag.Title = "Borrar";

}

<h2>Borrar</h2>

<h3>Estas seguro que deseas borrar el siguiente plan</h3>
<div class="col-md-4 col-12">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Especialidad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionEspecialidad)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Borrar" class="btn btn-info" /> |
            @Html.ActionLink("Volver a la lista de planes", "Index")
        </div>
    }
</div>
