@model IEnumerable<UI.WebMvc.Models.Plan>

@{
    ViewBag.Title = "Planes";
 
}

<h2>Planes</h2>

<p>
    @Html.ActionLink("Nuevo plan", "Nuevo")
</p>

<p>
    @Html.ActionLink("Generar Reportes", "ReportPlanes") |
</p>
<table id="table" class="table table-striped table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayName("Especialidad")
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionEspecialidad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.ID })
            </td>
        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                "language": {
                    "search": "Buscar"
                }
            })
        });
    </script>
}