@model UI.WebMvc.Models.MateriaModel

@{
    /**/
    ViewBag.Title = "Nuevo";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container py-3">
        <div class="row">
            <div class="mx-auto col-sm-8">
                <!-- form user info -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Nueva Materia</h4>
                    </div>
                    <div class="card-body">
                        @TextoHelper.TextoConLabel(nameof(Model.Descripcion), "Descripción", "text", Model.Descripcion,"6")
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        @TextoHelper.TextoConLabel(nameof(Model.HSSemanales), "Horas Semanales", "number", Model.HSSemanales.ToString(),"2")
                        @Html.ValidationMessageFor(model => model.HSSemanales, "", new { @class = "text-danger" })
                        @TextoHelper.TextoConLabel(nameof(Model.HSTotales), "Horas Totales", "number", Model.HSTotales.ToString(),"2")
                        @Html.ValidationMessageFor(model => model.HSTotales, "", new { @class = "text-danger" })
                        @ListaHelper.ListaElementos(Model.Planes, "IDPlan", "Plan");
                        @BtnAceptarCancelarHelper.BotonesAceptarCancelar()
                    </div>
                </div>
                <!-- /form user info -->
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
